body {
  border-top: 25px solid #0E0E0E;
  border-bottom: 25px solid #0E0E0E;
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

/* AppBar CSS */
header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #3F98B5;
  height: 18vh;
  padding: 0px 20px 0px 20px; 
  color: white;
}

.displayIsLogin {
  display: flex;
  align-items: center;
}

.welcome {
  padding-right: 10px;
}

.logoutButton {
  color: #5465BE; 
  padding: 10px 20px;
  border-radius: 10px; 
  font-size: 24px; 
  border: none; 
  cursor: pointer;
}

.toggleSection {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #F0F0F0;
  height: 12vh;
  padding: 0px 20px 0px 20px;
}

.toggle {
  padding-left: 10px;
}

.checkbox {
  transform: scale(1.5);
}

/* Login CSS */
.login {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}